// @Author: Ben Briggs <benbriggs>
// @Date:   2017-11-28T09:53:40+00:00
// @Email:  ben.briggs@thedistance.co.uk
// @Last modified by:   benbriggs
// @Last modified time: 2017-12-19T12:04:28+00:00
// @Copyright: The Distance

.draftJs-wrapper {
  border: 2px solid #ddd !important;
  padding: 0 12px;
  background: #fff;
}
