@import "variables";
@import "~@sketchpixy/rubix/sass/rubix";
@import "~@sketchpixy/rubix/sass/vendor";
@import "colors";
@import "theme";

@import "draftJs";

// @import "fonts/lato/lato";
@import "fonts/fontello/fontello";
// @import "fonts/climacons/climacons";
// @import "fonts/devicon/devicon";
// @import "fonts/dripicons/dripicons";
// @import "fonts/feather/feather";
// @import "fonts/flatline/flatline";
// @import "fonts/mfizz/mfizz";
// @import "fonts/nargela/nargela";
@import "fonts/glyphicons/glyphicons";
// @import "fonts/ikons/ikons";
@import "fonts/outlined/outlined";
// @import "fonts/pixelvicon/pixelvicon";
// @import "fonts/Simple-Line-Icons/Simple-Line-Icons";
// @import "fonts/Stroke-Gap-Icons/Stroke-Gap-Icons";

/* Component styles */
@import "components/login";

/* Page styles */
// @import "pages/home";

.rubix-panel-header .btn {
  margin-top: 25px;
  margin-bottom: 12.5px;
}

/* Page styles */
// @import "pages/home";

.form-group.required .control-label:after {
  content: " *";
  color: red;
  font-weight: 700;
}

/* Image gallery styles */

.image-gallery-icon {
  border: 0;
  background: transparent;
  bottom: 20px;
  position: absolute;
  left: 50px;
  z-index: 4;
  outline: 0;
  cursor: pointer;
  appearance: none;
  
  &::before {
    font-size: 2em;
    padding: 15px 20px;
    line-height: .7;
    text-shadow: 0 1px 1px #1a1a1a;
    color: #fff;
  }
}

/*
 * Resolves an issue where the calendar control would be clipped
 * at the bottom of the panel container.
 */

.rubix-panel-container {
  overflow: visible !important;
}
